.classId{
    width: 580px;
    min-height: 100px;
    margin: 20px 0 10px 10px;
    padding: 10px;
    background-color:#FFFFF0;
}

.jWrapper{
    clear: both    
}

.jLoja{
    float:left;
    width: 200px;
}

.jPreco{
    float: left;
    width: 50px;
}

.jAlteradoHoje{
    float: left;
    width: 20px;
}
